<div data-role="page" id="config-game">
    <div data-theme="a" data-role="header">
        <a data-role="button" data-transition="pop" href="#home" data-icon="home"
        data-iconpos="left" class="ui-btn-left">
            Home
        </a>
        <a data-role="button" data-transition="pop" data-theme="c" href="#game"
        data-icon="check" data-iconpos="right" class="ui-btn-right">
            Start
        </a>
        <h3>
            Header
        </h3>
    </div>
    <div data-role="content">
        <div class="ui-grid-c team-banner">
            <div class="ui-block ui-block-a empty">
                Barca Defense
            </div>
            <div class="ui-block ui-block-b empty">
            	Barca Attack
            </div>
            <div class="ui-block ui-block-c empty">
            	Madrid Defense
            </div>
            <div class="ui-block ui-block-d empty">
            	Madrid Attack
            </div>
        </div>
        <br>
        <div class="ui-grid-d" id="players-table">
            <!-- api.players -->
        </div>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
        <span class="ui-title">
        </span>
    </div>
</div>