<div data-role="page" id="config-game">
    <div data-theme="a" data-role="header">
        <a data-role="button" data-transition="pop" href="#home" data-icon="home"
        data-iconpos="left" class="ui-btn-left">
            Home
        </a>
        <a data-role="button" data-transition="pop" data-theme="c" href="#game"
        data-icon="check" data-iconpos="right" class="ui-btn-right">
            Start
        </a>
        <h3>
            Header
        </h3>
    </div>
    <div data-role="content">
        <div class="ui-grid-c">
            <div class="ui-block ui-block-a ui-block-top">
                a
            </div>
            <div class="ui-block ui-block-b ui-block-top">
            	b
            </div>
            <div class="ui-block ui-block-c ui-block-top">
            	c
            </div>
            <div class="ui-block ui-block-d ui-block-top">
            	d
            </div>
        </div>
        <br>
        <div class="ui-grid-d">
            <div class="ui-block ui-block-a ui-block-top">
            </div>
            <div class="ui-block ui-block-b ui-block-top">
            </div>
            <div class="ui-block ui-block-c ui-block-top">
            </div>
            <div class="ui-block ui-block-d ui-block-top">
            </div>
            <div class="ui-block ui-block-e ui-block-top">
            </div>
            <div class="ui-block ui-block-a">
            </div>
            <div class="ui-block ui-block-b">
            </div>
            <div class="ui-block ui-block-c">
            </div>
            <div class="ui-block ui-block-d">
            </div>
            <div class="ui-block ui-block-e">
            </div>
            <div class="ui-block ui-block-a">
            </div>
            <div class="ui-block ui-block-b">
            </div>
            <div class="ui-block ui-block-c">
            </div>
            <div class="ui-block ui-block-d">
            </div>
            <div class="ui-block ui-block-e">
            </div>
            <div class="ui-block ui-block-a">
            </div>
            <div class="ui-block ui-block-b">
            </div>
            <div class="ui-block ui-block-c">
            </div>
            <div class="ui-block ui-block-d">
            </div>
            <div class="ui-block ui-block-e">
            </div>
            <div class="ui-block ui-block-a">
            </div>
            <div class="ui-block ui-block-b">
            </div>
            <div class="ui-block ui-block-c">
            </div>
            <div class="ui-block ui-block-d">
            </div>
            <div class="ui-block ui-block-e">
            </div>
        </div>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
        <span class="ui-title">
        </span>
    </div>
</div>