<div data-role="page" id="game">
    <div data-theme="d" data-role="header">
        <h3>
            0:00:00
        </h3>
    </div>
    <div data-role="content">
        <div class="player player-1"></div>
        <div class="player player-2"></div>
        <div class="player player-3"></div>
        <div class="player player-4"></div>
        <div class="swap swap-a">&lt;<br>&gt;</div>
        <div class="swap swap-b">&lt;<br>&gt;</div>
        <div id="camp-nou">
            <div class="barca-side side"><p>0</p></div>
            <div class="madrid-side side"><p>0</p></div>
        </div>
    </div>
    <div data-role="tabbar" data-iconpos="top" data-theme="a" data-cid="tabbar6" class="codiqa-control ui-footer ui-footer-fixed ui-bar-a ui-navbar ui-mini" role="navigation">
        <ul class="ui-grid-b">
            <li class="ui-block-a">
                <a href="#dialogStop" data-rel="popup" data-theme="a" data-icon="delete" class="ui-btn ui-btn-up-a ui-btn-inline ui-btn-icon-top" data-corners="false" data-shadow="false" data-iconshadow="true" data-iconsize="18" data-wrapperels="span" data-iconpos="top" data-inline="true">
                    <span class="ui-btn-inner">
                        <span class="ui-btn-text">Stop</span>
                        <span class="ui-icon ui-icon-delete ui-icon-shadow ui-iconsize-18">&nbsp;</span>
                    </span>
                </a>
            </li>
            <li class="ui-block-b">
                <a href="#home" data-theme="a" data-icon="grid" class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a" data-corners="false" data-shadow="false" data-iconshadow="true" data-iconsize="18" data-wrapperels="span" data-iconpos="top" data-inline="true">
                    <span class="ui-btn-inner">
                        <span class="ui-btn-text">Pause</span>
                        <span class="ui-icon ui-icon-grid ui-icon-shadow ui-iconsize-18">&nbsp;</span>
                    </span>
                </a>
            </li>
            <li class="ui-block-c">
                <a href="#next-list" data-transition="flow" data-theme="a" data-icon="plus" class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a" data-corners="false" data-shadow="false" data-iconshadow="true" data-iconsize="18" data-wrapperels="span" data-iconpos="top" data-inline="true">
                    <span class="ui-btn-inner">
                        <span class="ui-btn-text">At Next</span>
                        <span class="ui-icon ui-icon-plus ui-icon-shadow ui-iconsize-18">&nbsp;</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>