<div data-role="page" id="home">
    <div data-theme="a" data-role="header">
        <h3>
            Header
        </h3>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-divider-theme="a" data-inset="true">
            <li data-role="list-divider" role="heading">
                Play Game
            </li>
            <li data-theme="c">
                <a href="#config-game" data-transition="slide">
                    Simple
                </a>
            </li>
            <li data-theme="c">
                <a href="#config-game" data-transition="slide">
                    Swapping
                </a>
            </li>
        </ul>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
        <span class="ui-title">
        </span>
    </div>
</div>