<div data-role="page" id="home">
    <div data-theme="a" data-role="header">
        <h3>
            Futbolito
        </h3>
    </div>
    <div data-role="content" id="gameTypes">
        <ul data-role="listview" data-divider-theme="a" data-inset="true">
            <li data-role="list-divider" role="heading">
                Play Game
            </li>
        </ul>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
        <span class="ui-title">
        </span>
    </div>
</div>