<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Futbolito</title>

    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link type="text/css" rel="stylesheet" media="all" href="static/css/grid.css" /> -->
    <!-- <link type="text/css" rel="stylesheet" media="all" href="static/css/screen.css" /> -->
  </head>
  <body>
    INDEX
  </body>
</html>
